[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=cnctsun
Comment=
Exec=AppRun
Icon=cnctsun
Categories=Game;
Terminal=false
StartupWMClass=Launcher.exe,TSMPLauncher.exe
Keywords=game
